<div class="gap-40"> </div>
<div class="container">
    <div class="story d-flex flex-column flex-md-row gap-3 align-items-center">
        <div class=" py-2 p-2 pe-5" [@fadeInSequence]>
            <p class="fw-bold fs-1 mt-4 mb-5">Our Story</p>
            <p>Launced in 2015, Exclusive is South Asia’s premier online shopping makterplace with an active presense in
                Bangladesh. Supported by wide range of tailored marketing, data and service solutions, Exclusive has
                10,500
                sallers and 300 brands and serves 3 millioons customers across the region. </p>
            <p>Exclusive has more than 1 Million products to offer, growing at a very fast. Exclusive offers a diverse
                assotment in categories ranging from consumer.</p>
        </div>
        <div class="col-md-6" [@fadeInSequence]>
            <img class="w-100 img-fluid" src="assets/banners/about.png" alt="">
        </div>
    </div>
    <div class="gap-40"> </div>
    <div class="stats d-md-flex d-none gap-2 justify-content-between">
        <div class="stat-option d-flex gap-2 py-4 px-2 flex-column justify-content-center align-items-center">
            <div class="icon-design d-flex justify-content-center align-items-center">
                <i class="bi bi-shop-window text-white fs-4"></i>
            </div>
            <div>
                <p class="text-center m-0 fs-2 fw-bold">10.5k</p>
                <p class="text-center m-0">Sellers active our site</p>
            </div>
        </div>
        <div class="stat-option d-flex gap-2 py-4 px-2 flex-column justify-content-center align-items-center">
            <div class="icon-design d-flex justify-content-center align-items-center">
                <i class="bi bi-coin text-white fs-4"></i>
            </div>
            <div>
                <p class="text-center m-0 fs-2 fw-bold">33.5k</p>
                <p class="text-center m-0">Monthly Product Sale</p>
            </div>
        </div>
        <div class="stat-option d-flex gap-2 py-4 px-2 flex-column justify-content-center align-items-center">
            <div class="icon-design d-flex justify-content-center align-items-center">
                <i class="bi bi-gift text-white fs-4"></i>
            </div>
            <div>
                <p class="text-center m-0 fs-2 fw-bold">45.5k</p>
                <p class="text-center m-0">Customer active in our site</p>
            </div>
        </div>
        <div class="stat-option d-flex gap-2 py-4 px-2 flex-column justify-content-center align-items-center">
            <div class="icon-design d-flex justify-content-center align-items-center">
                <i class="bi bi-currency-dollar text-white fs-4"></i>
            </div>
            <div>
                <p class="text-center m-0 fs-2 fw-bold">25.5k</p>
                <p class="text-center m-0">Anual gross sale in our site</p>
            </div>
        </div>
    </div>
    <div class="gap-40"> </div>
</div>