<div class="bg-black">
    <div class="gap-40"></div>
    <div class="text-white container d-flex flex-wrap justify-content-between">
        <div class="col-12 col-md-6 col-xl-3 p-3">
            <p class="fw-semibold m-0 mb-3 fs-3">Exclusive</p>
            <p class="m-0 mb-3 fs-5 fw-semibold">Subscribe</p>
            <p class="m-0 mb-3 fs-6">Get 10% off at yor first order</p>
            <div class="input-container mt-3 d-flex justify-content-center align-items-center px-3">
                <input class="my-3 bg-transparent border-0 rounded-1 text-white" placeholder="Enter your email"
                    type="text">
                <button class="border-0 bg-transparent text-white"><i class="bi bi-send"></i></button>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3  p-3">
            <p class="fw-semibold m-0 mb-3 fs-3">Address</p>
            <p class="m-0 mb-3 fs-6">111 Bijoy sarani, Dhaka,<br> DH 1515, Bangladesh.</p>
            <p class="m-0 mb-3 fs-6">exclusive&#64;gmail.com</p>
            <p class="m-0 mb-3 fs-6">+88015-88888-9999</p>

        </div>
        <div class="col-12 col-md-6 col-xl-3  p-3">
            <p class="fw-semibold m-0 mb-3 fs-3">Quick Link</p>
            <p class="m-0 mb-3 fs-6">Privacy Policy</p>
            <p class="m-0 mb-3 fs-6">Terms Of Use</p>
            <p class="m-0 mb-3 fs-6">FAQ</p>
            <p class="m-0 mb-3 fs-6">Contact</p>
        </div>
        <div class="col-12 col-md-6 col-xl-3  p-3">
            <p class="fw-semibold m-0 mb-3 fs-3"> Download App
            <p>
            <p class="m-0 mb-2 fs-6"><small>Save $3 with App New User Only</small></p>
            <img class="qr mt-2" src="assets/other/qr.png" alt="">
        </div>
    </div>
    <div class="gap-40"></div>

</div>