<app-heading-component [headingData]="hedadingDataForNewArrival"></app-heading-component>
<div class="mt-4 py-2 w-100 d-flex flex-column flex-lg-row gap-3 justify-content-between arrival-container">
    <div #playStation class="play-station position-relative">
        <img src="assets/banners/playstation.png" class="img-fluid w-100 h-100" alt="new-arrival">
        <div class="text position-absolute bottom-0 left-0 text-white pb-4 mb-2 ms-2 ps-4">
            <p class="m-0">Play Station 5</p>
            <p class="m-0">Black and White version of <br> the PS5 coming out on sale.</p>
            <a href="" class="text-white">Shop Now</a>
        </div>
    </div>
    <div #secondDiv class="d-flex flex-column justify-content-between gap-3">
        <div class="women-fashion overflow-hidden">
            <img src="assets/banners/fashion.png" class="w-100" alt="">
        </div>
        <div class="others d-flex justify-content-between gap-4">
            <img src="assets/banners/gucci.png" alt="">
            <img src="assets/banners/speakers.png" alt="">
        </div>
    </div>
</div>