.play-station {
    min-width: 380px;
    width: 69%;
    height: 100%;

    @media (max-width: 991.98px) {
        width: 100%;
    }

    @media (min-width: 991.99px) and (max-width: 1100.98px) {
        width: 90%;
    }
}

.arrival-container {
    height: 617px;

    @media (max-width: 991.98px) {
        height: auto;
    }
}

.women-fashion {
    height: 65%;
}

// .others {
//     height: 45%;
//     overflow: hidden;
// }

.others img {
    width: 50%;
    // height: 45%;
    overflow: hidden;
}