<div class="offer-tag d-flex justify-content-center align-items-center text-white">
    <p class="m-0 text-discount text-center">Summer Sale For All Swim Suits And Frees Delivery - OFF 50%!<a href=""
            class="text-white text-discount ms-2 fw-semibold">Shop Now</a></p>
</div>
<nav class="navbar">
    <div class="container">
        <div class="w-100 d-flex justify-content-between align-items-center">
            <div class="heading-name">
                <p class="m-0 heading-logo">ShopShay</p>
            </div>

            <div class="menu-options d-none d-lg-block">
                <span class="menu d-flex">
                    <a class="menuItem" mat-button routerLinkActive="active" routerLink="/">Home</a>
                    <a class="menuItem" mat-button routerLinkActive="active" routerLink="/contact">Contact</a>
                    <a class="menuItem" mat-button routerLinkActive="active" routerLink="/about">About</a>
                    <a class="menuItem" mat-button routerLinkActive="active" routerLink="/signup">Sign Up</a>
                </span>
            </div>
            <div class="search-container d-flex gap-4 align-items-center">
                <div class="search-bar d-flex gap-3 p-1 px-3">
                    <input type="text" class="border-0 bg-transparent" placeholder="What are you looking for?">
                    <i class="bi bi-search search-icon"></i>
                </div>
                <div class="other-options d-flex gap-4">
                    <i class="bi bi-heart fs-5"></i>
                    <i class="bi bi-cart3 fs-5"></i>
                </div>
            </div>
        </div>
    </div>
</nav>