.navbar {
    width: 100vw;
    height: 90px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.container {
    height: 100%;
    padding-top: 20px;
}

.heading-logo {
    font-weight: 700;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.text-discount {
    font-size: 13px;
}

.offer-tag {
    background-color: #000000;
    width: 100vw;
    height: 48px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.menuItem {
    text-decoration: none;
    color: #4c4c4c !important;
    font-size: clamp(1rem, 1vw, 1.4rem);
    padding: 0.3rem 1rem;
    transition: all 0.3s ease;
    position: relative;
}

.menuItem:after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 11%;
    background-color: #4c4c4c7c;
    transition: all 0.4s ease;
}

.menuItem:hover:after,
.menuItem.active:after {
    width: 75%;
}

.menuItem:hover {
    color: #666666 !important;
}

.search-bar {
    background-color: #F5F5F5;
    border-radius: 8px;
}

input {
    outline: none;
    font-size: 12px;
    padding: 5px;
}

input::placeholder {
    font-size: 12px;
    color: #888;
    font-style: italic;
}

.search-icon {
    cursor: pointer;
    color: #111111;
}

.bi {
    cursor: pointer;
}