.mat-sidenav {
    width: 20vw;
    border-right: 1px solid #e5e5e5;

}

.item-list::-webkit-scrollbar {
    display: none;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
}

.carousel-indicators {
    margin-bottom: .2rem;
}

.gap-component {
    height: 8vw;
}