<div class="gap-40"></div>
<div class="container d-flex flex-column flex-lg-row gap-2 justify-content-between">
    <div class="col-12 col-lg-3 d-flex flex-lg-column gap-5 mb-5 mb-lg-0">
        <div class="col-5 col-lg-12">
            <div class="d-flex gap-3 align-items-center mb-4">
                <div class="icon-container d-flex justify-content-center align-items-center text-white">
                    <i class="bi bi-telephone fs-4"></i>
                </div>
                <p class="m-0 fw-semibold">Call To Us</p>
            </div>
            <p>We are available 24/7, 7 days a week.</p>
            <p>Phone : +91 9285593713</p>
        </div>
        <div class="mt-lg-3 col-5 col-lg-12">
            <div class="d-flex gap-3 align-items-center mb-4">
                <div class="icon-container d-flex justify-content-center align-items-center text-white">
                    <i class="bi bi-envelope fs-4"></i>
                </div>
                <p class="m-0 fw-semibold">Write To Us</p>
            </div>
            <p>Fill out our form and we will contact you within 24 hours..</p>
            <p>Emails: customer&#64;exclusive.com</p>
            <p>Emails: customer&#64;exclusive.com</p>
        </div>
    </div>
    <div class="col-8 p-2">
        <div>
            <div class="d-flex flex-column flex-lg-row justify-content-between">
                <mat-form-field appearance="outline" class="col-lg-3 col-12">
                    <mat-label>Your Name</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-lg-3 col-12">
                    <mat-label>Your Phone No</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-lg-3 col-12">
                    <mat-label>Your Email</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="col-12">
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
        <button class="bg-o-primary border-0 p-2 px-4 rounded-1 text-white">Send Message</button>
    </div>
</div>
<div class="gap-40"></div>