.service-icon {
    height: 70px;
    width: 70px;
    border: 10px solid #f4f4f4b8;
    border-radius: 50%;
    background-color: black;
    color: white;
}

.line-height {
    line-height: 20px;
}