<div class="container d-flex justify-content-center align-items-center gap-4">
    <div class="d-flex flex-column px-3 align-items-center justify-content-center gap-4">
        <div class="service-icon align-items-center d-flex justify-content-center service-icon">
            <i class="bi bi-truck fs-3"></i>
        </div>
        <div>
            <p class="text-center m-0 fw-semibold line-height">FREE & FAST DELIVERY</p>
            <p class="text-center"> <small>Free delivery $120</small></p>
        </div>
    </div>
    <div class="d-flex flex-column px-3 align-items-center justify-content-center gap-4">
        <div class="service-icon align-items-center d-flex justify-content-center service-icon">
            <i class="bi bi-headset fs-3"></i>
        </div>
        <div>
            <p class="text-center m-0 fw-semibold line-height">24/7 CUSTOMER SERVICE</p>
            <p class="text-center"> <small> Friendly 24/7 customer support</small></p>
        </div>
    </div>
    <div class="d-flex flex-column px-3 align-items-center justify-content-center gap-4">
        <div class="service-icon align-items-center d-flex justify-content-center service-icon">
            <i class="bi bi-patch-check fs-3"></i>
        </div>
        <div>
            <p class="text-center m-0 fw-semibold line-height">MONEY BACK GUARANTEE </p>
            <p class="text-center"><small>We reurn money within 30 days</small></p>
        </div>
    </div>
</div>